---
title: A page for all
layout: base.njk
---

<div class="container">
        <h1>Hey, what's up!</h1>
        <div class="vibe">
            you're awesome!
        </div>
        <div class="love">
            ֎
        </div>
</div>

    

<script src="vibe.js"></script>